button, .inputButton {
    color: black;
    background: burlywood;
    font-size: 15px;
    font-weight: bold;
}

button:hover, .inputButton:hover {
    color: saddlebrown;
    background: lightyellow;
}

input {
    background: white;
    font-size: 15px;
}

input:hover {
    background: whitesmoke;
}

h1 {
    text-align: center;
    margin: 3px;
}

h2 {
    margin: 0px;
}

td, th {
    border-style: groove;
    height: 30px;
}

table {
    border-collapse: collapse;
    width: 65%;
    text-align: center;
    border-style: double;
    position: absolute;
    left: 15%;
}

.pageBody {
    z-index: -1;
    text-align: center;
    position: fixed;
    top: 106px;
    left: 0px;
    right: 0px;
    bottom: 62px;
    width: auto;
    height: auto;
    overflow: auto;
}

.lists {
    margin-left: 30%;
    position: center;
    width: 600px;
    background: lightyellow;
    border: solid darkgoldenrod;
    border-style: double;
    border-radius: 10px;
    padding-left: 20px;
}

form {
    font-size: 20px;
}

a {
    font-size: 20px;
    color: darkslategray;
    font-weight: bold;
}

a:hover {
    font-size: 20px;
    color: darkgoldenrod;
    font-weight: bold;
}

.aImportant {
    color: firebrick;
    size: 25px;
}

.aImportant:hover {
    color: lightcoral;
}

ul {
    font-size: 20px;
    color: darkcyan;
    font-weight: bolder;
    margin: 0px;
}

span {
    color: black;
}

.headList {
    color: darkred;
    font-weight: bold;
    font-size: 30px;
    margin: 3px;
}

.seeMore {
    font-size: 15px
}

.seeMore:hover {
    font-size: 15px;
    color: darkgoldenrod;
}

button {
    margin: 2px;
}

b {
    font-size: 20px;
}

li {
    text-decoration: none;
}