<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userView</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div th:replace="layout :: all"></div>
<div class="pageBody">
    <br><br>
    <h2 style="color: darkgoldenrod; font-weight: bolder"> TASKS</h2>
    <table>
        <tr>
            <th> Task Id</th>
            <th> Name</th>
            <th> Description</th>
            <th> Level</th>
            <th> Who Added?</th>
            <th> Who Do?</th>
            <th> Status</th>
        </tr>
        <ul th:each="task : ${tasksList}">
            <tr>
                <td th:text="${task.id}"/>
                <td th:text="${task.name}"/>
                <td th:text="${task.description}"/>
                <td th:text="${task.level}"/>
                <td th:text="${task.whoAddedLogin}"/>
                <td th:text="${task.whoDoLogin}"/>
                <td th:text="${task.status}"/>
            </tr>
        </ul>
    </table>
</div>
</body>
</html>