<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userView</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div th:replace="layout :: all"></div>
<div class="pageBody">
    <br><br>
    <h2 style="color: darkgoldenrod; font-weight: bolder"> MEMBERS OF THE GROUP </h2>
    <table>
        <tr>
            <th> Login</th>
            <th> Role</th>
            <th> Added Tasks</th>
            <th> My Tasks</th>
            <th> Points</th>
        </tr>
        <ul th:each="user : ${usersList}">
            <tr>
                <td th:text="${user.login}"/>
                <td th:text="${user.role}"/>
                <td>
                    <ul style="display: inline-block; margin: 0; padding: 0" th:each="id: ${user.getAddedTasksIds()}">
                        <a class="seeMore" th:href="@{'taskDetails?id=' + ${id}}" th:text="${id}"></a>,
                    </ul>
                </td>
                <td>
                    <ul style="display: inline-block; margin: 0; padding: 0" th:each="id: ${user.getMyTasksListIds()}">
                        <a class="seeMore" th:href="@{'taskDetails?id=' + ${id}}" th:text="${id}"></a>,
                    </ul>
                </td>
                <td th:text="${user.points}"/>
            </tr>
        </ul>
    </table>
</div>
</body>
</html>