<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
<div th:replace="layout :: all"></div>
<div class="pageBody">
    <br>
    <h2>
        Please register Yourself
    </h2>
    <form action="#" th:action="@{/createUser}" th:object="${createUserDto}" method="post">
        <label>
            Login
            <input type="text" th:field="*{login}"/>
            <div style="color: red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
        </label>
        <br>
        <label>
            Choose your role:
            <select th:field="*{role}">
                <option th:each="role : ${availableRoles}" th:value="${role}" th:text="${role}"></option>
            </select>
        </label>
        <br>
        <label>
            Password
            <input type="password" th:field="*{password}"/>
            <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </label>
        <br>
        <label>
            Repeat Password
            <input type="password" th:field="*{repeatPassword}"/>
            <div style="color: red" th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{repeatPassword}"></div>
        </label>
        <br>
        JOIN TO YOUR GROUP
        <br>
        <label>
            Your Group NAME
            <input type="text" th:field="*{groupName}"/>
        </label>
        <label>
            Your Group KEY
            <input type="text" th:field="*{groupKey}"/>
        </label>
        <br>
        <input class="inputButton" type="submit" value="Create"/>
    </form>
    <br>
    <h3 style="color: firebrick; font-style: italic">
        You don't know NAME or KEY to your group?<br>
        Ask your Admin for them or
        <a th:href="'createGroup'">
            CREATE YOUR OWN GROUP
        </a>
    </h3>
</div>
</body>
</html>