<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userView</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
<div th:replace="layout :: all"></div>
<div class="pageBody" style="">
    <br><br>
    <h2 style="color: darkred; font-weight: bolder; text-align: center"> ARE YOU SURE YOU WANT TO DELETE YOUR GROUP?
        <BR>
        ALL MEMBERS ACCOUNTS AND TASKS WILL BE DELETED!!!</h2>
    <br>
    <div style="text-align: center">
        <a th:href="'deleteGroup'">
            <button style="font-weight: bolder; color: firebrick; font-size: 20px">
                YES
            </button>
        </a>
        <a th:href="'welcomeInYourGroup'">
            <button style="font-weight: bolder; color: mediumblue; font-size: 20px">
                NO
            </button>
        </a>
    </div>
</div>
</body>
</html>