<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userView</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <style>
        b {
            font-size: 35px;
        }
    </style>
</head>
<body>
<div th:replace="layout :: all"></div>
<div class="pageBody">
    <br><br>
    <h1 style="font-size: 20px">
        Great! You just created your GROUP!
        <br>
        Send group details to friend, family, coworkers <br>
        or other potential members of your group <br>
        <br>
    </h1>
    <br>
    <b>
        <span style="color: darkgoldenrod; font-size: 30px"> <b th:text="'Group Name:   '"></b>  </span>
        <span style="color: darkred; font-weight: bolder; font-size: 50px">
            <b th:text="${groupDto.groupName}"></b>   </span>
        <br>
        <span style="color: darkgoldenrod; font-size: 30px"> <b th:text="'Group Key:   '"></b>  </span>
        <span style="color: darkred; font-weight: bolder; font-size: 50px">
            <b th:text="${groupDto.groupKey}"></b>   </span>
        <br>
    </b>
    <br>
    <h2 STYLE="font-style: italic">
        CREATE ACCOUNT ON THIS GROUP
        <br>
        <a th:href="'createUser'">
            <button>
                CREATE
            </button>
        </a>
    </h2>
</div>
</body>
</html>