<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userView</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<style>
    a {
        text-decoration: none;
    }
</style>
<body>
<div th:replace="layout :: all"></div>
<div class="pageBody">
    <br>
    <b style="font-size: 25px"> First time on this website?</b>
    <b style="font-size: 15px; color: midnightblue"><br><br>
        WhatToDo application helps organize tasks of users group<br>
        Everyone can create group for his friends, family or coworkers and registers an account in this group.<br>
        Each user chooses his level of experience, knowledge or skills.<br> Admin is a person who manages of the group.
        Each user can add and take tasks. <br>After adding , the task is waiting for Admin acceptance and then
        users can take them according to their level.<br> After finishing their tasks and Admin approval users
        are rewarded with points.<br></b>
    <br>
    <h2>
        Create your Group for your family, friends, co-workers...
        <br>
        <a th:href="'createGroup'">
            <button>
                <N>NEW GROUP</N>
            </button>
        </a>
        <br><br>
        Register on existing GROUP
        <br>
        <a th:href="'createUser'">
            <button>
                JOIN TO MY GROUP
            </button>
        </a>
        <br><br>
        Login to your Account
        <br>
        <a th:href="'login'">
            <button>
                LOGIN
            </button>
        </a>
        <br>
    </h2>
</div>
</body>
</html>