<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="all">
    <style>
        ol {
            list-style-type: none;
            padding: 0;
            margin: 0;
            background-color: black;
            font-size: 18px;
            height: 2em;
            line-height: 2em;
            text-align: center;
        }

        /* wygląd wszystkich elementów - a - znajdujących się w elemencie - ol */
        ol a {
            display: block;
            text-decoration: none;
            color: wheat;
            padding: 0 5px;
        }

        /* wygląd elementów - li - wszystkich dzieci elementu - ol */
        ol > li {
            float: left;
            width: 170px;
            margin-left: 1px;
            background-color: black;
            height: 2em;
        }

        /* wygląd elementu - li - pierwszego dziecka elementu - ol */
        ol > li:first-child {
            margin-left: 0;
        }

        /* wygląd elementów - li - wszystkich dzieci elementu - ol - po najechaniu kursorem myszki na element - li */
        ol > li:hover {
            background-color: wheat;
        }

        /* wygląd elementu - a - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
        ol > li:hover > a {
            color: black;
        }

        /* wygląd elementu - ul - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
        ol > li:hover > ul {
            display: block;
        }

        /* ------------------------CZĘŚĆ-ROZWIJANA-MENU------------------------ */
        /* wygląd głównych rozwijanych elementów - ul */
        ol > li > ul {
            display: none;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        /* wygląd elementu - li - w części rozwijanej */
        ol > li > ul > li {
            position: relative;
            background-color: black;
        }

        /* wygląd elementu - a - w części rozwijanej */
        ol > li > ul > li > a {
            border-top: 1px solid wheat;
        }

        /* wygląd elementu - li - w części rozwijanej, po najechaniu kursorem myszki na dany element - li */
        ol > li > ul > li:hover {
            background-color: gray;
        }

        /* wygląd elementu - a - w części rozwijanej, po najechaniu kursorem myszki na element - li */
        ol > li > ul > li:hover > a {
            color: black;
        }
    </style>
    <div th:fragment="header"
         style=" background-color:gray; position: fixed; top: 0; left:0; height: 70px; width: 100%; text-align: center;
          color: white; border-bottom-style: double; border-bottom-color: burlywood">
        <h1 style="padding-top: 20px; color: burlywood">
            WhatToDo organize your tasks with friends!
        </h1>
    </div>
    <div th:fragment="navigationBar"
         style="position: fixed; top: 71px; left:0; right: 0px; background-color: black;  border-bottom: wheat double ">
        <ol>
            <li><a style="font-style: italic" href="javascript:history.go(-1);"> << back </a></li>
            <li><a th:href="'welcomeInYourGroup'">My Group</a>
                <ul>
                    <li><a th:href="'users'">Members</a></li>
                    <li><a th:href="'tasks'">Tasks</a></li>
                    <li><a th:href="'deleteGroupWarning'">Delete Group</a></li>

                </ul>
            </li>
            <li><a th:href="'myProfile'">My Profile</a>
                <ul>
                    <li><a th:href="'createTask'">New Task</a></li>
                    <li><a th:href="'updateUser'">Update Profile</a></li>
                    <li><a th:href="'deleteWarning'">Delete Profile</a></li>
                </ul>
            </li>
            <li><a th:href="'createTask'">Add new Task </a>
            <li><a th:href="'/pointsRules'">Points Rules</a></li>
            <li><a th:href="'/logout'">LogIn/LogOut</a></li>
        </ol>
    </div>
    <div th:fragment="footer"
         style="background-color: gray; position: fixed; bottom: 0; left:0; height: 50px; width: 100%; text-align: center; padding-top: 10px; color:burlywood;
          border-top-style: double; border-top-color: burlywood">
        <h2>
            remember that done is better than perfect...
        </h2>
    </div>
</div>
</body>
</html>