<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userView</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div th:replace="layout :: all"></div>
<div class="pageBody">
    <br><br>
    <h2>
        Unsuccessful login
        <br>
        Please try again!
    </h2>
    <a th:href="'login'">
        <button>
            Login
        </button>
    </a>
</div>
</body>
</html>

