<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userView</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div th:replace="layout :: all"></div>
<div class="pageBody">
    <br><br>
    <h2>Login</h2>
    <form th:action="@{/login}" method="post">
        <div>
            <label> User Name : <input type="text" name="username"/>
            </label>
        </div>
        <div>
            <label> Password: <input type="password" name="password"/>
            </label>
        </div>
        <div>
            <input class="inputButton" type="submit" value="Login"/>
        </div>
    </form>
    <br>
    <h2>REGISTER on existing GROUP </h2>
    <a th:href="'createUser'">
        <button>
            Register
        </button>
    </a>
    <br><br><br>

    <h2> First time on this website? </h2>
    <a th:href="'homepage'">
        <button>
            <N>SEE MORE</N>
        </button>
    </a>
    <br><br>
    <h2><a href="https://youtu.be/YJIgV9oBOcc" class="aImportant">WATCH THE INTRODUCTION</a></h2>
</div>
</body>
</html>