<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userView</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
<div th:replace="layout :: all"></div>
<div class="pageBody">
    <br><br>
    <h2 th:text="Hi +' '+ ${userDto.login} "/>
    <h2 th:text="'Your user role: ' + ${userDto.role}"></h2>
    <h2 th:text="'Your points: '+ ${userDto.points}"></h2>
    <span th:if="${userDto.role == T(com.whattodo.model.Role).ADMIN}">
        <br>
    <div class="lists">
        <h2 class="headList"> New Tasks pending activation </h2>
    <ul th:each="task : ${tasksList}">
            <span th:if="${task.status == T(com.whattodo.model.TaskStatus).INACTIVATED}">
                <td th:text="${task.name}"/> <a class="seeMore"
                                                th:href="'taskDetails?id=' + ${task.id}"> see more</a> </td>
            </span>
    </ul>
    <br>
    </div>
    <br>
    </span>
    <div class="lists">
        <h2 class="headList"> Free Tasks to take </h2>
        <ul th:each="task : ${tasksList}">
        <span th:if="${task.status == T(com.whattodo.model.TaskStatus).ACTIVATED}">
            <span th:if="${userDto.role == T(com.whattodo.model.Role).JUNIOR} and ${task.level == T(com.whattodo.model.Level).EASE}">
                <td th:text="${task.name}"/> <a class="seeMore"
                                                th:href="'taskDetails?id=' + ${task.id}"> see more</a> </td>
            </span>
        <span th:if="${userDto.role == T(com.whattodo.model.Role).MIDDLE}
        and (${task.level != T(com.whattodo.model.Level).HARD} )">
                <td th:text="${task.name}"/> <a class="seeMore"
                                                th:href="'taskDetails?id=' + ${task.id}"> see more</a> </td>
            </span>
        <span th:if="(${userDto.role == T(com.whattodo.model.Role).SENIOR} or ${userDto.role == T(com.whattodo.model.Role).ADMIN})">
                <td th:text="${task.name}"/> <a class="seeMore"
                                                th:href="'taskDetails?id=' + ${task.id}"> see more</a> </td>
            </span>
    </span>
        </ul>
        <br>
    </div>
    <br>
    <div class="lists">
        <h2 class="headList"> Your ToDoList </h2>
        <ul th:each="task : ${tasksList}">
            <span th:if="${task.whoDoLogin == userDto.login}
            and ${task.status != T(com.whattodo.model.TaskStatus).FINISHED}
            and ${task.status != T(com.whattodo.model.TaskStatus).FINISHED_ACCEPTED}">
    <td th:text="${task.name}"/><a class="seeMore" th:href="'taskDetails?id=' + ${task.id}"> see more</a> </td>
  </span>
        </ul>
        <br>
    </div>
    <br>
    <div class="lists">
        <h2 class="headList"> Finished Tasks pending Admin approval</h2>
        <ul th:each="task : ${tasksList}">
            <span th:if="(${task.whoDoLogin == userDto.login} or  ${userDto.role == T(com.whattodo.model.Role).ADMIN})
            and ${task.status == T(com.whattodo.model.TaskStatus).FINISHED}">
                <td th:text="${task.name}"/> <a class="seeMore"
                                                th:href="'taskDetails?id=' + ${task.id}"> see more</a> </td>
            </span>
        </ul>
        <br>
    </div>
    <br>
    <div class="lists">
        <h2 class="headList">My Finished&Accepted Tasks</h2>
        <ul th:each="task : ${tasksList}">
            <span th:if="${task.whoDoLogin == userDto.login}
            and ${task.status == T(com.whattodo.model.TaskStatus).FINISHED_ACCEPTED}">
                <td th:text="${task.name}"/><a class="seeMore"
                                               th:href="'taskDetails?id=' + ${task.id}"> see more</a> </td>
            </span>
        </ul>
        <br>
    </div>
    <br>
</div>
</body>
</html>