<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userView</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div th:replace="layout :: all"></div>
<div class="pageBody">
    <br><br>
    <h2 style="color: midnightblue" th:text="${task.name} + ' id:' + ${task.id} +'  '+ ${task.level}"/>
    <h3 style="color: gray() " th:text="'Task description: ' + ${task.description}" }/>
    <h3 style="color: gray() " th:text="'Added by: ' + ${task.whoAddedLogin} + '    ' + 'do by: ' + ${task.whoDoLogin}
+ '  ' + 'status: ' + ${task.status}" }/>
    <span th:if="${task.status == T(com.whattodo.model.TaskStatus).STARTED} and ${task.whoDoLogin == loginName}">
        <a th:href="'finish?id=' + ${task.id}"> Task is finished</a>
    </span>
    <span th:if="${loginUserRole} =='ADMIN' and  ${task.status == T(com.whattodo.model.TaskStatus).INACTIVATED}">
        <a th:href="'activate?id=' + ${task.id}"> activate </a> <br>
        <a th:href="'updateTask?id=' + ${task.id}">update </a>
    </span>
    <span th:if="${task.status == T(com.whattodo.model.TaskStatus).ACTIVATED} ">
         <span th:if="!(${loginUserRole == T(com.whattodo.model.Role).JUNIOR}
          and ${task.level != T(com.whattodo.model.Level).EASE}) or (${loginUserRole == T(com.whattodo.model.Role).MIDDLE}
             and (${task.level == T(com.whattodo.model.Level).HARD} ))">
                <a th:href="'start?id=' + ${task.id}"> I take this task </a>
            </span>
    </span>
    <span th:if="${loginUserRole}=='ADMIN'and  ${task.status == T(com.whattodo.model.TaskStatus).FINISHED}">
        <a th:href="'finish_accepted?id=' + ${task.id}"> Admin acceptation </a>
    </span>
</div>
</body>
</html>