<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div th:replace="layout :: all"></div>
<div class="pageBody">
    <br>
    <h2>
        Update This Task
    </h2>
    <form action="#" th:action="@{'/updateTask/'+ ${id}}" th:object="${updatedTaskDto}" method="post">
        <label>
            Change Name:
            <input type="text" th:field="*{name}"/>
            <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </label>
        <br>
        <label>
            Change Level of difficulty:
            <select th:field="*{level}">
                <option th:each="level : ${availableLevels}" th:value="${level}" th:text="${level}"></option>
            </select>
        </label>
        <br>
        <label>
            Description:
            <input type="text" th:field="*{description}"/>
            <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
        </label>
        <br>
        <input class="inputButton" type="submit" value="Update"/>
    </form>
</div>
</body>
</html>