<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div th:replace="layout :: all"></div>
<div class="pageBody">
    <br>
    <h2>
        Change Your Profile
    </h2>
    <form action="#" th:action="@{/updateUser}" th:object="${updateUserDto}" method="post">
       <label>
        Change your role:
        <select th:field="*{role}">
            <option th:each="role : ${availableRoles}" th:value="${role}" th:text="${role}"></option>
        </select>
        </label>
        <br>
        <label>
            Password
            <input type="password" th:field="*{password}"/>
            <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </label>
        <br>
        <label>
            Repeat Password
            <input type="password" th:field="*{repeatPassword}"/>
            <div style="color: red" th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{repeatPassword}"></div>
        </label>
        <br>
        <input class="inputButton" type="submit" value="Update"/>
    </form>
</div>
</body>
</html>