<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userView</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <style>
        ul {
            list-style-type: none;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
<div th:replace="layout :: all"></div>
<div class="pageBody">
    <br>
    <h1>
        <span style="color: darkgoldenrod; font-size: 30px"> <b th:text="'WELCOME IN YOUR GROUP:   '"></b>  </span>
        <span style="color: darkred; font-weight: bolder; font-size: 50px"> <b
                th:text="${groupDto.groupName}"></b>   </span>
        <br>
    </h1>
    <h2 style="color: darkgoldenrod" th:text="'GROUP MEMBERS'"></h2>
    <ul th:each="user : ${usersList}">
        <li th:text="${user.login}"/>
    </ul>
    <br><br>
    <b style="font-size: 20px"> More information about MEMBERS of your group <a class="seeMore" th:href="'users'"> see
        more</a> </b><br>
    <b style="font-size: 20px"> More information about TASKS of your group <a class="seeMore" th:href="'tasks'"> see
        more</a> </b>
</div>
</body>
</html>